<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<div class="navbar-header">

			<a class="navbar-brand" href="#">Linkup4 Aparels <small><em>AdminTool</em></small></a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="http://localhost/link4up/cake/admin/listprod/#">Dashboard</a></li>
				<li><a href="http://localhost/link4up/cake/admin/logout/#">Logout</a></li>
			</ul>
			<?php if(count($this->Session->read('user'))>0) { ?>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://localhost/link4up/cake/admin/listprod/#">Welcome <?php echo $this->Session->read('user.admin.admin_name') ; ?></?php></a></li>
				<li><a href="http://localhost/link4up/cake/admin/logout/">Logout</a></li>
			</ul>
			<?php } ?>
		</div><!-- /.nav-collapse -->
	</div><!-- /.container -->
</nav><!-- /.navbar -->
