<ul class="list-group">
	<li class="list-group-item active ">Menu</li>
	<li class="list-group-item "><a href="<?php echo Router::url('/admin/listprod/'); ?>">Dashboard / products</a></li>
	<li class="list-group-item "><a href="<?php echo Router::url('/admin/'); ?>">Create New Product</a></li>
	<li class="list-group-item "><a href="<?php echo Router::url('/admin/newcat/'); ?>">Create New Category</a></li>
	<li class="list-group-item "><a href="<?php echo Router::url('/admin/newsubcat/'); ?>">Create New Sub-Category</a></li>
	<li class="list-group-item "><a href="<?php echo Router::url('/admin/newprecat/'); ?>">Create New pre-Category</a></li>
	<li class="list-group-item "><a href="<?php echo Router::url('/admin/catlog/'); ?>">Manage / Edit Category  </a></li>
  </ul>
  
  <ul class="list-group">
	<li class="list-group-item active ">Contents</li>
	<li class="list-group-item "><a href="<?php echo Router::url('/admin/pageabout/'); ?>">About Us</a></li>
	<li class="list-group-item "><a href="<?php echo Router::url('/admin/pagefinishedleather/'); ?>">Finished Leathers</a></li>

  </ul>