<div class="col-lg-8 col-md-offset-2">
	<form action="http://localhost/link4up/cake/admin/newsubcat/" method="post" enctype="multipart/form-data">
	<div class="panel panel-paypal">
		
		<div class="panel-heading"><h2>Create New Sub category</h2></div>
		<div class="panel-body">	
			<div class="form-group">
				<?php	echo $this->Form->input('category', array('class'=>'form-control','required','options' => $datas,'name'=>'category','data-initialize'=>'combobox', 'empty' => '(choose one)'));	?>
			</div>
			<div class="form-group">
				<label>Sub category Name</label>
				<input class="form-control" name="subcategory" id="subcategory" required>
			</div>

		
		</div>
		<div class="panel-footer">
			<input class="btn btn-success btn-lg" type="submit" value="Create" name="b1">
		</div>
		<?php 
			if(isset($msg))
				pr($msg);
		?>
	</div>
	</form>
</div>
