<div class="col-lg-8 ">
	<form action="<?php echo  Router::url('/admin/newprecat/'); ?>" method="post" enctype="multipart/form-data">
	<div class="panel panel-paypal">
		
		<div class="panel-heading"><h2>Create New Pre category</h2></div>
		<div class="panel-body">	
			<div class="form-group">
				<?php	echo $this->Form->input('category', array('class'=>'form-control','required','options' => $datas,'name'=>'category','data-initialize'=>'combobox', 'empty' => '(choose one)'));	?>
			</div>
			<div id="subcat"></div>
			<div class="form-group">
				<label>Pre category Name</label>
				<input class="form-control" name="precat" id="precat" required>
			</div>

		
		</div>
		<div class="panel-footer">
			<input class="btn btn-success btn-lg" type="submit" value="Create" name="b1">
		</div>
		<?php 
			if(isset($msg))
				pr($msg);
		?>
	</div>
	</form>
</div>
<script>
$(document).ready(function(){

	$("#category").change(function(){
		cat=$("#category").val();
		$.ajax({
			url:"<?php echo  Router::url('/admin/get_subcat/'); ?>"+cat,
			method: 'GET',
			success:function(data){
				$("#subcat").html(data)
			},error:function(err){
				console.log("Error Reason is "+err.statusText);
			}
		});
	});
});
</script>
