<style>
.itms:hover{
background-color:#EAEAEA !important;
-webkit-box-shadow: 0 10px 5px 2px rgba(25,25,25,.2);
box-shadow: 0 10px 5px 2px rgba(25,25,25,.2);
}

</style>


<div class="row">
		<legend><h4> <i class="fa fa-shopping-cart"></i>Products</h4></legend>
</div>
<div class="row">  
   <div class="col-sm-6 col-md-3 itms"  ng-repeat="itm in datas | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
            <div class="thumbnail" >
		<a href="cake/prodimg/{{itm.prods.prod_img}}" data-lightbox="image-1" data-title="{{itm.prods.prod_title}}">
         <img  src="cake/prodimg/thumb-{{itm.prods.prod_img}}" alt="{{itm.prods.prod_title}}">
		 </a>
      </div>
      <div class="caption">
         <center><p>{{itm.prods.prod_title}}</p></center>
      </div>
   </div>

</div>
<div class="row">
<div class="col-md-5 col-sm-offset-4">
<ul class="pagination">
<li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
  <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
  <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
  </li>
  <li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
</ul>
</div>

</div>
