<!-- <nav class="navbar navbar-inverse"></nav> -->
<nav id="scrollhead" class="navbar navbar-default navbar-fixed-top animatedParent" style="display:none">
<div class="container animated fadeInDown">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="images/logo-small.png">
      </a>
    </div>
  </div>
</nav>
<header class="animatedParent ">


<div class="container animated fadeInRightShort go">
	<div class="row">
		<div class="col-md-3  col-sm-9 col-xs-9 col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-3 "><img src="images/logo.png"></div>
		<div class="col-md-6 hidden-xs hidden-sm" style="margin-top:30px">
			<form method="get" class="ng-pristine ng-valid">			
				<div class="input-group">
          <input type="text" placeholder="Search for..." class="form-control input-lg">
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-search-plus"></i></button>
          </span>
        </div>
	
			</form>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-3 " style="margin-top:20px">
			<h3><a class="black" href="#"><i class="fa fa-google-plus"></i></a> &nbsp; <a href="#" class="black"><i class="fa fa-twitter"></i></a> &nbsp; <a href="#" class="black"><i class="fa fa-facebook-square"></i></a> &nbsp; <a href="#" class="black"><i class="fa fa-youtube"></i></a></h3>
		</div>
		
	</div>
</div>
</header>
<nav class="navbar navbar-inverse" ng-controller="headcat" >
      <div class="container">
	   <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
    </div>
        <div id="bs-example-navbar-collapse-9" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Home</a></li><!--
			<li class="dropdown">
				<a  data-href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
				<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a></li>
					<li class="divider"></li>
					<li><a href="#">One more separated link</a></li>
				</ul>
			</li> -->
			<li class="dropdown" ng-class="dropdown" ng-repeat="x in datas">
				<a href="javascript:"  data-href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{x.cat.cat_name}} <span class="caret"></span></a>
				<ul ng-class="dropdown-menu" class="dropdown-menu" role="menu">
					<li ng-repeat="y in x.subcat">
						<a href="#/cat/{{y.subcat_id}}">{{y.subcat_name}}</a>
					</li>
				</ul>
			</li>
			
			
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>