<div class="col-lg-12" ng-controller="catprod-manknit">  
<!--  <div data-ride="carousel" class="carousel slide" id="carousel-example-captions">
		<div  class="carousel-inner">
		<div class="item active" ng-repeat="itm in mkt">
			<a href="cake/prodimg/{{itm.prods.prod_img}}" data-lightbox="image-1" data-title="{{itm.prods.prod_title}}">
			 <img  src="cake/prodimg/thumb-{{itm.prods.prod_img}}" alt="{{itm.prods.prod_title}}">
			</a>
		</div>
		</div>
	</div> -->


	

	

<div id="carousel">
              
         <img ng-repeat="itm in mkt"   src="cake/prodimg/thumb-{{itm.prods.prod_img}}"  alt="{{itm.prods.prod_title}}">
		
				
				</div>



</div>





