<style>
.itms:hover{
background-color:#EAEAEA !important;
-webkit-box-shadow: 0 10px 5px 2px rgba(25,25,25,.2);
box-shadow: 0 10px 5px 2px rgba(25,25,25,.2);
}

</style>

<input type="hidden" id="datas" ng-bind="datas | json">
<div class="row">
<div class="panel panel-carousel">
	<div class="panel-heading"><h3>Recent Products 
	<span class="pull-right">
		<a class="car-control" data-href="#carousel-generic" role="button" data-slide="prev">  
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		  <a class="car-control" data-href="#carousel-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		  </a>
	</span>
  </h3></div>
	<div class="panel-body"><div id="carousel-generic" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" id="target">

  </div>

  <!-- Controls -->

</div></div>


</div>

</div>
<p>&nbsp;</p>

<div class="row">
		<legend><h4> <i class="fa fa-shopping-cart"></i>New Products</h4></legend>

</div>
<div class="row">  
   <div class="col-sm-6 col-md-3 itms"  ng-repeat="itm in datas | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
            <div class="thumbnail" >
		<a href="cake/prodimg/{{itm.prods.prod_img}}" data-lightbox="image-1" data-title="{{itm.prods.prod_title}}">
         <img  src="cake/prodimg/thumb-{{itm.prods.prod_img}}" alt="{{itm.prods.prod_title}}">
		 </a>
      </div>
      <div class="caption">
         <center><p>{{itm.prods.prod_title}}</p></center>
      </div>
   </div>

</div>
<div class="row">
<div class="col-md-5 col-sm-offset-4">
<ul class="pagination">
<li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
  <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
  <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
  </li>
  <li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
</ul>
</div>

</div>

<script>

$(document).ready(function(){
	setTimeout(function(){
		var data=jQuery.parseJSON($("#datas").text());
		alert(data);
		getSliderContent(data, '#target', 4); 
	},1000);
  

function getThumb(obj){
	var $holder = $('<div/>');
	$holder.addClass('col-sm-6 col-md-3 itms ng-scope');
	var $thumb = $('<div/>').addClass('thumbnail');
	var $anchor = $('<a/>').attr({"data-title":"", "data-lightbox":"image-1", "href":"cake/prodimg/"+obj.prod_img});
	var $img = $('<img/>').attr({alt:"", src:"cake/prodimg/thumb-"+obj.prod_img});
	var $caption = $('<div/>').addClass('caption');
	var $center = $('<center/>');
	var $p = $('<p/>');
	$anchor.append($img);
	$thumb.append($anchor);
	$center.append($p);
	$caption.append($center);
	$holder.append($caption);
	$holder.append($thumb);
	return $holder;                
}

function getListStructure(){
	$itemContainer = $('<div/>');
	$itemContainer.attr('class', 'item');
	return $itemContainer;
}

function getSliderContent(data, target, limitN){
	limitN = (limitN == undefined) ? 4 : limitN;
	limitCounter = 0;
	$itemContainer = getListStructure();
	$itemContainer.addClass("active");
	for(i in data){
		var $target = $(target);
		var isLastB = (data.length == (i+1)); 
		limitCounter++
		var thumbO = data[i].prods;
		var $thumbH = getThumb(thumbO);		
		$itemContainer.append($thumbH);		
		if(limitCounter >= limitN){
			$target.append($itemContainer);
			$itemContainer = getListStructure();
			limitCounter = 0;
		}else if(isLastB){
			$target.append($itemContainer);
		}
	}
}	
});

</script>